* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.conntainer {
    background: #fff;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.conntainer h1 {
    text-align: center;
    margin: 10px;
    font-size: 40px;
}
.conntainer h1 span{
    color: #31ca15;
}
.form {
    padding: 30px 40px;
}
.for-control{
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
    margin-top: 2px;
    padding: 2px 5px;
}
.for-control label{
    display: block;
    font-size: 20px;
    margin: 2px;
}
.for-control input{
    display: block;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #a7a1a0;
  
    
}
.for-control i.bx-check{
    position: absolute;
    color: #31ca15;
    top: 30px;
    right: 20px;
    margin-top: 10px;
    font-size: 20px;
    text-align: right;
    visibility: hidden;

  
}
.for-control i.bxs-comment-x{
    position: absolute;
    color: red;
    top: 30px;
    right: 40px;
    margin-top: 10px;
    font-size: 20px;
    text-align: right;
    visibility: hidden;

  
}
.for-control input:focus{
    outline: none;
    border: 1px solid #1d1a1a;
}
.for-control small{
    color: red;
    font-size: 15px;
    display: none;
}

.for-control.succes input {
    border:  1px solid #31ca15;
}
.for-control.error input {
    border:  3px solid #ec5a36;
}
 .for-control small {
    visibility: visible;
}
.btn {
    width: 100%;
    display: block;
    padding: 10px 20px;
    background: #FF7E33;
    border: 2px solid #FF7E33;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    outline: none;

}
  
  
  
